<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>B</key>
	<dict>
		<key>Eng</key>
		<integer>-65</integer>
		<key>N</key>
		<integer>-65</integer>
		<key>Nacute</key>
		<integer>-65</integer>
		<key>Ncaron</key>
		<integer>-65</integer>
		<key>U</key>
		<integer>-200</integer>
		<key>Uacute</key>
		<integer>-200</integer>
		<key>Ucircumflex</key>
		<integer>-200</integer>
		<key>Udieresis</key>
		<integer>-200</integer>
		<key>Ugrave</key>
		<integer>-200</integer>
		<key>Uhungarumlaut</key>
		<integer>-200</integer>
		<key>Umacron</key>
		<integer>-200</integer>
		<key>Uogonek</key>
		<integer>-200</integer>
		<key>Uring</key>
		<integer>-200</integer>
		<key>dotlessi</key>
		<integer>-70</integer>
		<key>eng</key>
		<integer>-70</integer>
		<key>f</key>
		<integer>-70</integer>
		<key>f_f.liga</key>
		<integer>-70</integer>
		<key>f_i.liga</key>
		<integer>-70</integer>
		<key>i</key>
		<integer>-70</integer>
		<key>i.loclTRK</key>
		<integer>-70</integer>
		<key>iacute</key>
		<integer>-70</integer>
		<key>icircumflex</key>
		<integer>-70</integer>
		<key>idieresis</key>
		<integer>-70</integer>
		<key>imacron</key>
		<integer>-70</integer>
		<key>iogonek</key>
		<integer>-70</integer>
		<key>m</key>
		<integer>-70</integer>
		<key>n</key>
		<integer>-70</integer>
		<key>nacute</key>
		<integer>-70</integer>
		<key>ncaron</key>
		<integer>-70</integer>
		<key>ntilde</key>
		<integer>-70</integer>
		<key>one.osf</key>
		<integer>-70</integer>
		<key>r</key>
		<integer>-70</integer>
		<key>racute</key>
		<integer>-70</integer>
		<key>rcaron</key>
		<integer>-70</integer>
		<key>u</key>
		<integer>-60</integer>
		<key>uacute</key>
		<integer>-60</integer>
		<key>ucircumflex</key>
		<integer>-60</integer>
		<key>udieresis</key>
		<integer>-60</integer>
		<key>ugrave</key>
		<integer>-60</integer>
		<key>uhungarumlaut</key>
		<integer>-60</integer>
		<key>umacron</key>
		<integer>-60</integer>
		<key>uni00B5</key>
		<integer>-60</integer>
		<key>uni0145</key>
		<integer>-65</integer>
		<key>uni0146</key>
		<integer>-70</integer>
		<key>uni0157</key>
		<integer>-70</integer>
		<key>uogonek</key>
		<integer>-60</integer>
		<key>uring</key>
		<integer>-60</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>J</key>
		<integer>35</integer>
		<key>X</key>
		<integer>-40</integer>
		<key>hyphen</key>
		<integer>-20</integer>
		<key>space</key>
		<integer>58</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>J</key>
		<integer>-20</integer>
		<key>space</key>
		<integer>20</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>A</key>
		<integer>-20</integer>
		<key>B</key>
		<integer>-35</integer>
		<key>Eng</key>
		<integer>-60</integer>
		<key>F</key>
		<integer>-10</integer>
		<key>M</key>
		<integer>-20</integer>
		<key>M.ss01</key>
		<integer>-20</integer>
		<key>N</key>
		<integer>-60</integer>
		<key>Nacute</key>
		<integer>-60</integer>
		<key>Ncaron</key>
		<integer>-60</integer>
		<key>P</key>
		<integer>-35</integer>
		<key>R</key>
		<integer>-35</integer>
		<key>R_B.liga</key>
		<integer>-35</integer>
		<key>R_P.liga</key>
		<integer>-35</integer>
		<key>R_R.liga</key>
		<integer>-35</integer>
		<key>R_S.liga</key>
		<integer>-35</integer>
		<key>Racute</key>
		<integer>-35</integer>
		<key>Rcaron</key>
		<integer>-35</integer>
		<key>S</key>
		<integer>-110</integer>
		<key>Sacute</key>
		<integer>-110</integer>
		<key>Scaron</key>
		<integer>-110</integer>
		<key>U</key>
		<integer>-60</integer>
		<key>Uacute</key>
		<integer>-60</integer>
		<key>Ucircumflex</key>
		<integer>-60</integer>
		<key>Udieresis</key>
		<integer>-60</integer>
		<key>Ugrave</key>
		<integer>-60</integer>
		<key>Uhungarumlaut</key>
		<integer>-60</integer>
		<key>Umacron</key>
		<integer>-60</integer>
		<key>Uogonek</key>
		<integer>-60</integer>
		<key>Uring</key>
		<integer>-60</integer>
		<key>X</key>
		<integer>-30</integer>
		<key>Y</key>
		<integer>-35</integer>
		<key>Yacute</key>
		<integer>-35</integer>
		<key>Ycircumflex</key>
		<integer>-35</integer>
		<key>Ydieresis</key>
		<integer>-35</integer>
		<key>Ygrave</key>
		<integer>-35</integer>
		<key>dollar</key>
		<integer>-110</integer>
		<key>hyphen</key>
		<integer>-60</integer>
		<key>space</key>
		<integer>40</integer>
		<key>uni0145</key>
		<integer>-60</integer>
		<key>uni0156</key>
		<integer>-35</integer>
		<key>uni0218</key>
		<integer>-110</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>X</key>
		<integer>-85</integer>
		<key>space</key>
		<integer>200</integer>
	</dict>
	<key>T_h.liga</key>
	<dict>
		<key>Z</key>
		<integer>-8</integer>
		<key>s</key>
		<integer>-18</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>hyphen</key>
		<integer>-60</integer>
		<key>space</key>
		<integer>40</integer>
	</dict>
	<key>dotlessi</key>
	<dict>
		<key>Z</key>
		<integer>-8</integer>
		<key>s</key>
		<integer>-18</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>f_f.liga</key>
		<integer>30</integer>
		<key>x</key>
		<integer>35</integer>
	</dict>
	<key>f_i.liga</key>
	<dict>
		<key>Z</key>
		<integer>-8</integer>
		<key>s</key>
		<integer>-18</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>Z</key>
		<integer>-8</integer>
		<key>s</key>
		<integer>-18</integer>
	</dict>
	<key>hbar</key>
	<dict>
		<key>Z</key>
		<integer>-8</integer>
		<key>s</key>
		<integer>-18</integer>
	</dict>
	<key>hyphen</key>
	<dict>
		<key>X</key>
		<integer>-60</integer>
	</dict>
	<key>i</key>
	<dict>
		<key>Z</key>
		<integer>-8</integer>
		<key>s</key>
		<integer>-18</integer>
	</dict>
	<key>i.loclTRK</key>
	<dict>
		<key>Z</key>
		<integer>-8</integer>
		<key>s</key>
		<integer>-18</integer>
	</dict>
	<key>iacute</key>
	<dict>
		<key>Z</key>
		<integer>-8</integer>
		<key>s</key>
		<integer>-18</integer>
	</dict>
	<key>icircumflex</key>
	<dict>
		<key>Z</key>
		<integer>-8</integer>
		<key>s</key>
		<integer>-18</integer>
	</dict>
	<key>idieresis</key>
	<dict>
		<key>Z</key>
		<integer>-8</integer>
		<key>s</key>
		<integer>-18</integer>
	</dict>
	<key>imacron</key>
	<dict>
		<key>Z</key>
		<integer>-8</integer>
		<key>s</key>
		<integer>-18</integer>
	</dict>
	<key>iogonek</key>
	<dict>
		<key>Z</key>
		<integer>-8</integer>
		<key>s</key>
		<integer>-18</integer>
	</dict>
	<key>j</key>
	<dict>
		<key>j</key>
		<integer>15</integer>
		<key>x</key>
		<integer>-20</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>quotesingle</key>
		<integer>-80</integer>
	</dict>
	<key>lacute</key>
	<dict>
		<key>quotesingle</key>
		<integer>-80</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>Z</key>
		<integer>-8</integer>
		<key>s</key>
		<integer>-18</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>Z</key>
		<integer>-8</integer>
		<key>s</key>
		<integer>-18</integer>
	</dict>
	<key>nacute</key>
	<dict>
		<key>Z</key>
		<integer>-8</integer>
		<key>s</key>
		<integer>-18</integer>
	</dict>
	<key>ncaron</key>
	<dict>
		<key>Z</key>
		<integer>-8</integer>
		<key>s</key>
		<integer>-18</integer>
	</dict>
	<key>ntilde</key>
	<dict>
		<key>Z</key>
		<integer>-8</integer>
		<key>s</key>
		<integer>-18</integer>
	</dict>
	<key>one</key>
	<dict>
		<key>eight</key>
		<integer>-20</integer>
		<key>four</key>
		<integer>-75</integer>
		<key>nine</key>
		<integer>-10</integer>
		<key>zero</key>
		<integer>-20</integer>
	</dict>
	<key>one.osf</key>
	<dict>
		<key>Z</key>
		<integer>-8</integer>
		<key>s</key>
		<integer>-18</integer>
	</dict>
	<key>public.kern1.A</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-20</integer>
		<key>public.kern2.G</key>
		<integer>-100</integer>
		<key>public.kern2.J</key>
		<integer>-80</integer>
		<key>public.kern2.K</key>
		<integer>-10</integer>
		<key>public.kern2.N</key>
		<integer>-40</integer>
		<key>public.kern2.O</key>
		<integer>-100</integer>
		<key>public.kern2.R</key>
		<integer>-90</integer>
		<key>public.kern2.S</key>
		<integer>-180</integer>
		<key>public.kern2.T</key>
		<integer>-160</integer>
		<key>public.kern2.U</key>
		<integer>-170</integer>
		<key>public.kern2.V</key>
		<integer>-300</integer>
		<key>public.kern2.Y</key>
		<integer>-240</integer>
		<key>public.kern2.a</key>
		<integer>-30</integer>
		<key>public.kern2.b</key>
		<integer>-80</integer>
		<key>public.kern2.g</key>
		<integer>-65</integer>
		<key>public.kern2.i</key>
		<integer>-40</integer>
		<key>public.kern2.j</key>
		<integer>-100</integer>
		<key>public.kern2.l</key>
		<integer>-40</integer>
		<key>public.kern2.o</key>
		<integer>-40</integer>
		<key>public.kern2.p</key>
		<integer>-50</integer>
		<key>public.kern2.s</key>
		<integer>-30</integer>
		<key>public.kern2.space</key>
		<integer>50</integer>
		<key>public.kern2.t</key>
		<integer>-70</integer>
		<key>public.kern2.u</key>
		<integer>-120</integer>
		<key>public.kern2.v</key>
		<integer>-140</integer>
		<key>public.kern2.x</key>
		<integer>-25</integer>
		<key>public.kern2.y</key>
		<integer>-140</integer>
	</dict>
	<key>public.kern1.B</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-100</integer>
		<key>public.kern2.G</key>
		<integer>-100</integer>
		<key>public.kern2.K</key>
		<integer>-100</integer>
		<key>public.kern2.O</key>
		<integer>-140</integer>
		<key>public.kern2.R</key>
		<integer>-30</integer>
		<key>public.kern2.S</key>
		<integer>-30</integer>
		<key>public.kern2.T</key>
		<integer>-140</integer>
		<key>public.kern2.V</key>
		<integer>-180</integer>
		<key>public.kern2.X</key>
		<integer>-100</integer>
		<key>public.kern2.Y</key>
		<integer>-20</integer>
		<key>public.kern2.Z</key>
		<integer>-150</integer>
		<key>public.kern2.a</key>
		<integer>-80</integer>
		<key>public.kern2.o</key>
		<integer>-140</integer>
		<key>public.kern2.space</key>
		<integer>50</integer>
		<key>public.kern2.v</key>
		<integer>-120</integer>
		<key>public.kern2.y</key>
		<integer>45</integer>
	</dict>
	<key>public.kern1.Ccedilla</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-100</integer>
		<key>public.kern2.N</key>
		<integer>-90</integer>
		<key>public.kern2.O</key>
		<integer>-25</integer>
		<key>public.kern2.Z</key>
		<integer>-120</integer>
		<key>public.kern2.a</key>
		<integer>-100</integer>
		<key>public.kern2.l</key>
		<integer>-10</integer>
		<key>public.kern2.o</key>
		<integer>-100</integer>
		<key>public.kern2.space</key>
		<integer>50</integer>
	</dict>
	<key>public.kern1.F</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-100</integer>
		<key>public.kern2.N</key>
		<integer>-180</integer>
		<key>public.kern2.O</key>
		<integer>40</integer>
		<key>public.kern2.Z</key>
		<integer>-110</integer>
	</dict>
	<key>public.kern1.G_ss01</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-60</integer>
		<key>public.kern2.K</key>
		<integer>-15</integer>
		<key>public.kern2.O</key>
		<integer>-15</integer>
		<key>public.kern2.R</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.I</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-10</integer>
		<key>public.kern2.F</key>
		<integer>20</integer>
		<key>public.kern2.G</key>
		<integer>-30</integer>
		<key>public.kern2.K</key>
		<integer>40</integer>
		<key>public.kern2.N</key>
		<integer>-45</integer>
		<key>public.kern2.O</key>
		<integer>-30</integer>
		<key>public.kern2.R</key>
		<integer>20</integer>
		<key>public.kern2.S</key>
		<integer>-50</integer>
		<key>public.kern2.space</key>
		<integer>80</integer>
	</dict>
	<key>public.kern1.J</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-80</integer>
		<key>public.kern2.O</key>
		<integer>-60</integer>
		<key>public.kern2.U</key>
		<integer>-50</integer>
		<key>public.kern2.a</key>
		<integer>-60</integer>
		<key>public.kern2.o</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.K</key>
	<dict>
		<key>public.kern2.O</key>
		<integer>-120</integer>
		<key>public.kern2.Z</key>
		<integer>-35</integer>
	</dict>
	<key>public.kern1.L</key>
	<dict>
		<key>public.kern2.K</key>
		<integer>-20</integer>
		<key>public.kern2.N</key>
		<integer>-25</integer>
		<key>public.kern2.O</key>
		<integer>-60</integer>
		<key>public.kern2.R</key>
		<integer>-45</integer>
		<key>public.kern2.S</key>
		<integer>-80</integer>
		<key>public.kern2.T</key>
		<integer>-200</integer>
		<key>public.kern2.U</key>
		<integer>-100</integer>
		<key>public.kern2.V</key>
		<integer>-200</integer>
		<key>public.kern2.Y</key>
		<integer>-190</integer>
		<key>public.kern2.space</key>
		<integer>40</integer>
	</dict>
	<key>public.kern1.N</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-320</integer>
		<key>public.kern2.F</key>
		<integer>-120</integer>
		<key>public.kern2.G</key>
		<integer>-140</integer>
		<key>public.kern2.K</key>
		<integer>-45</integer>
		<key>public.kern2.N</key>
		<integer>-400</integer>
		<key>public.kern2.O</key>
		<integer>-140</integer>
		<key>public.kern2.R</key>
		<integer>-10</integer>
		<key>public.kern2.S</key>
		<integer>-105</integer>
		<key>public.kern2.T</key>
		<integer>-10</integer>
		<key>public.kern2.V</key>
		<integer>-40</integer>
		<key>public.kern2.X</key>
		<integer>-60</integer>
		<key>public.kern2.Y</key>
		<integer>-20</integer>
		<key>public.kern2.Z</key>
		<integer>-160</integer>
		<key>public.kern2.a</key>
		<integer>-240</integer>
		<key>public.kern2.comma</key>
		<integer>-200</integer>
		<key>public.kern2.g</key>
		<integer>-200</integer>
		<key>public.kern2.hyphen</key>
		<integer>-200</integer>
		<key>public.kern2.i</key>
		<integer>-240</integer>
		<key>public.kern2.j</key>
		<integer>-200</integer>
		<key>public.kern2.l</key>
		<integer>-50</integer>
		<key>public.kern2.o</key>
		<integer>-250</integer>
		<key>public.kern2.p</key>
		<integer>-200</integer>
		<key>public.kern2.period</key>
		<integer>-200</integer>
		<key>public.kern2.quoteright</key>
		<integer>-140</integer>
		<key>public.kern2.s</key>
		<integer>-200</integer>
		<key>public.kern2.space</key>
		<integer>40</integer>
		<key>public.kern2.t</key>
		<integer>-180</integer>
		<key>public.kern2.u</key>
		<integer>-200</integer>
		<key>public.kern2.v</key>
		<integer>-210</integer>
		<key>public.kern2.x</key>
		<integer>-200</integer>
		<key>public.kern2.y</key>
		<integer>-180</integer>
		<key>public.kern2.z</key>
		<integer>-200</integer>
	</dict>
	<key>public.kern1.O</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-90</integer>
		<key>public.kern2.G</key>
		<integer>-35</integer>
		<key>public.kern2.K</key>
		<integer>-30</integer>
		<key>public.kern2.N</key>
		<integer>-140</integer>
		<key>public.kern2.O</key>
		<integer>-20</integer>
		<key>public.kern2.R</key>
		<integer>-50</integer>
		<key>public.kern2.S</key>
		<integer>-40</integer>
		<key>public.kern2.U</key>
		<integer>-60</integer>
		<key>public.kern2.V</key>
		<integer>-90</integer>
		<key>public.kern2.X</key>
		<integer>-110</integer>
		<key>public.kern2.Y</key>
		<integer>-80</integer>
		<key>public.kern2.Z</key>
		<integer>-100</integer>
		<key>public.kern2.i</key>
		<integer>-20</integer>
		<key>public.kern2.j</key>
		<integer>-30</integer>
		<key>public.kern2.l</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-10</integer>
		<key>public.kern2.parenright</key>
		<integer>-30</integer>
		<key>public.kern2.period</key>
		<integer>-60</integer>
		<key>public.kern2.quoteright</key>
		<integer>-20</integer>
		<key>public.kern2.space</key>
		<integer>50</integer>
		<key>public.kern2.u</key>
		<integer>-20</integer>
		<key>public.kern2.underscore</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.OE</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-90</integer>
		<key>public.kern2.N</key>
		<integer>-160</integer>
		<key>public.kern2.O</key>
		<integer>40</integer>
		<key>public.kern2.T</key>
		<integer>20</integer>
		<key>public.kern2.Z</key>
		<integer>-70</integer>
		<key>public.kern2.hyphen</key>
		<integer>-20</integer>
		<key>public.kern2.space</key>
		<integer>58</integer>
	</dict>
	<key>public.kern1.R</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-95</integer>
		<key>public.kern2.G</key>
		<integer>50</integer>
		<key>public.kern2.K</key>
		<integer>-60</integer>
		<key>public.kern2.N</key>
		<integer>-140</integer>
		<key>public.kern2.R</key>
		<integer>-20</integer>
		<key>public.kern2.U</key>
		<integer>-70</integer>
		<key>public.kern2.V</key>
		<integer>-70</integer>
		<key>public.kern2.Y</key>
		<integer>-70</integer>
		<key>public.kern2.Z</key>
		<integer>-130</integer>
		<key>public.kern2.o</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.S</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-60</integer>
		<key>public.kern2.F</key>
		<integer>55</integer>
		<key>public.kern2.J</key>
		<integer>10</integer>
		<key>public.kern2.N</key>
		<integer>-90</integer>
		<key>public.kern2.O</key>
		<integer>-50</integer>
		<key>public.kern2.R</key>
		<integer>55</integer>
		<key>public.kern2.S</key>
		<integer>70</integer>
		<key>public.kern2.T</key>
		<integer>20</integer>
		<key>public.kern2.U</key>
		<integer>-60</integer>
		<key>public.kern2.Z</key>
		<integer>-90</integer>
		<key>public.kern2.comma</key>
		<integer>80</integer>
		<key>public.kern2.o</key>
		<integer>-60</integer>
		<key>public.kern2.space</key>
		<integer>100</integer>
	</dict>
	<key>public.kern1.T</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-150</integer>
		<key>public.kern2.N</key>
		<integer>-290</integer>
		<key>public.kern2.Z</key>
		<integer>-100</integer>
		<key>public.kern2.a</key>
		<integer>-10</integer>
		<key>public.kern2.i</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-100</integer>
		<key>public.kern2.p</key>
		<integer>-10</integer>
		<key>public.kern2.period</key>
		<integer>-80</integer>
		<key>public.kern2.quoteright</key>
		<integer>-10</integer>
		<key>public.kern2.space</key>
		<integer>40</integer>
		<key>public.kern2.y</key>
		<integer>-35</integer>
	</dict>
	<key>public.kern1.U</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-180</integer>
		<key>public.kern2.F</key>
		<integer>-60</integer>
		<key>public.kern2.G</key>
		<integer>-60</integer>
		<key>public.kern2.K</key>
		<integer>-35</integer>
		<key>public.kern2.N</key>
		<integer>-250</integer>
		<key>public.kern2.O</key>
		<integer>-70</integer>
		<key>public.kern2.R</key>
		<integer>-30</integer>
		<key>public.kern2.S</key>
		<integer>-70</integer>
		<key>public.kern2.U</key>
		<integer>-20</integer>
		<key>public.kern2.V</key>
		<integer>-30</integer>
		<key>public.kern2.Z</key>
		<integer>-130</integer>
		<key>public.kern2.hyphen</key>
		<integer>-80</integer>
		<key>public.kern2.i</key>
		<integer>-60</integer>
		<key>public.kern2.l</key>
		<integer>-20</integer>
		<key>public.kern2.space</key>
		<integer>60</integer>
		<key>public.kern2.u</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.V</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-300</integer>
		<key>public.kern2.F</key>
		<integer>-100</integer>
		<key>public.kern2.G</key>
		<integer>-100</integer>
		<key>public.kern2.N</key>
		<integer>-350</integer>
		<key>public.kern2.O</key>
		<integer>-90</integer>
		<key>public.kern2.S</key>
		<integer>-65</integer>
		<key>public.kern2.U</key>
		<integer>-30</integer>
		<key>public.kern2.V</key>
		<integer>-30</integer>
		<key>public.kern2.X</key>
		<integer>-40</integer>
		<key>public.kern2.Y</key>
		<integer>-30</integer>
		<key>public.kern2.Z</key>
		<integer>-160</integer>
		<key>public.kern2.a</key>
		<integer>-100</integer>
		<key>public.kern2.hyphen</key>
		<integer>-100</integer>
		<key>public.kern2.i</key>
		<integer>-180</integer>
		<key>public.kern2.j</key>
		<integer>-150</integer>
		<key>public.kern2.o</key>
		<integer>-200</integer>
		<key>public.kern2.period</key>
		<integer>-120</integer>
		<key>public.kern2.quoteright</key>
		<integer>-80</integer>
		<key>public.kern2.s</key>
		<integer>-180</integer>
		<key>public.kern2.space</key>
		<integer>60</integer>
		<key>public.kern2.u</key>
		<integer>-140</integer>
		<key>public.kern2.v</key>
		<integer>-135</integer>
	</dict>
	<key>public.kern1.X</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-20</integer>
		<key>public.kern2.N</key>
		<integer>-30</integer>
		<key>public.kern2.O</key>
		<integer>-110</integer>
		<key>public.kern2.R</key>
		<integer>-20</integer>
		<key>public.kern2.S</key>
		<integer>-110</integer>
		<key>public.kern2.V</key>
		<integer>-60</integer>
		<key>public.kern2.Y</key>
		<integer>-70</integer>
		<key>public.kern2.Z</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-110</integer>
	</dict>
	<key>public.kern1.Y</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-250</integer>
		<key>public.kern2.F</key>
		<integer>-85</integer>
		<key>public.kern2.G</key>
		<integer>-100</integer>
		<key>public.kern2.K</key>
		<integer>-35</integer>
		<key>public.kern2.N</key>
		<integer>-350</integer>
		<key>public.kern2.O</key>
		<integer>-100</integer>
		<key>public.kern2.S</key>
		<integer>-90</integer>
		<key>public.kern2.V</key>
		<integer>-30</integer>
		<key>public.kern2.X</key>
		<integer>-65</integer>
		<key>public.kern2.Y</key>
		<integer>-30</integer>
		<key>public.kern2.Z</key>
		<integer>-160</integer>
		<key>public.kern2.a</key>
		<integer>-100</integer>
		<key>public.kern2.comma</key>
		<integer>-200</integer>
		<key>public.kern2.i</key>
		<integer>-200</integer>
		<key>public.kern2.o</key>
		<integer>-220</integer>
		<key>public.kern2.period</key>
		<integer>-200</integer>
		<key>public.kern2.s</key>
		<integer>-200</integer>
		<key>public.kern2.space</key>
		<integer>40</integer>
		<key>public.kern2.v</key>
		<integer>-150</integer>
		<key>public.kern2.y</key>
		<integer>-120</integer>
	</dict>
	<key>public.kern1.Z</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-60</integer>
		<key>public.kern2.K</key>
		<integer>-10</integer>
		<key>public.kern2.N</key>
		<integer>-100</integer>
		<key>public.kern2.O</key>
		<integer>-70</integer>
		<key>public.kern2.S</key>
		<integer>-90</integer>
		<key>public.kern2.X</key>
		<integer>-50</integer>
		<key>public.kern2.Y</key>
		<integer>-20</integer>
		<key>public.kern2.Z</key>
		<integer>-70</integer>
		<key>public.kern2.a</key>
		<integer>-40</integer>
		<key>public.kern2.g</key>
		<integer>-50</integer>
		<key>public.kern2.i</key>
		<integer>-40</integer>
		<key>public.kern2.o</key>
		<integer>-50</integer>
		<key>public.kern2.space</key>
		<integer>50</integer>
		<key>public.kern2.z</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.c</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-30</integer>
		<key>public.kern2.O</key>
		<integer>-10</integer>
		<key>public.kern2.Z</key>
		<integer>-70</integer>
		<key>public.kern2.b</key>
		<integer>-45</integer>
		<key>public.kern2.j</key>
		<integer>-30</integer>
		<key>public.kern2.l</key>
		<integer>-30</integer>
		<key>public.kern2.o</key>
		<integer>-10</integer>
		<key>public.kern2.quoteright</key>
		<integer>-50</integer>
		<key>public.kern2.x</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.d</key>
	<dict>
		<key>public.kern2.O</key>
		<integer>-20</integer>
		<key>public.kern2.R</key>
		<integer>-40</integer>
		<key>public.kern2.V</key>
		<integer>-120</integer>
		<key>public.kern2.Y</key>
		<integer>-80</integer>
		<key>public.kern2.Z</key>
		<integer>-10</integer>
		<key>public.kern2.a</key>
		<integer>20</integer>
		<key>public.kern2.b</key>
		<integer>-40</integer>
		<key>public.kern2.comma</key>
		<integer>40</integer>
		<key>public.kern2.g</key>
		<integer>-15</integer>
		<key>public.kern2.j</key>
		<integer>-70</integer>
		<key>public.kern2.l</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-25</integer>
		<key>public.kern2.p</key>
		<integer>-40</integer>
		<key>public.kern2.quoteright</key>
		<integer>-55</integer>
		<key>public.kern2.t</key>
		<integer>-10</integer>
		<key>public.kern2.u</key>
		<integer>-30</integer>
		<key>public.kern2.v</key>
		<integer>-70</integer>
		<key>public.kern2.x</key>
		<integer>-35</integer>
		<key>public.kern2.y</key>
		<integer>-55</integer>
	</dict>
	<key>public.kern1.e</key>
	<dict>
		<key>public.kern2.S</key>
		<integer>-60</integer>
		<key>public.kern2.b</key>
		<integer>-40</integer>
		<key>public.kern2.g</key>
		<integer>-20</integer>
		<key>public.kern2.i</key>
		<integer>-30</integer>
		<key>public.kern2.l</key>
		<integer>-50</integer>
		<key>public.kern2.o</key>
		<integer>-20</integer>
		<key>public.kern2.p</key>
		<integer>-25</integer>
		<key>public.kern2.s</key>
		<integer>-40</integer>
		<key>public.kern2.x</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.f</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-20</integer>
		<key>public.kern2.a</key>
		<integer>45</integer>
		<key>public.kern2.b</key>
		<integer>110</integer>
		<key>public.kern2.i</key>
		<integer>45</integer>
		<key>public.kern2.l</key>
		<integer>100</integer>
		<key>public.kern2.t</key>
		<integer>25</integer>
		<key>public.kern2.u</key>
		<integer>20</integer>
		<key>public.kern2.v</key>
		<integer>30</integer>
		<key>public.kern2.y</key>
		<integer>45</integer>
		<key>public.kern2.z</key>
		<integer>20</integer>
	</dict>
	<key>public.kern1.f_f.liga</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-40</integer>
		<key>public.kern2.o</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.g</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-60</integer>
		<key>public.kern2.V</key>
		<integer>-40</integer>
		<key>public.kern2.a</key>
		<integer>20</integer>
		<key>public.kern2.b</key>
		<integer>-45</integer>
		<key>public.kern2.l</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-5</integer>
		<key>public.kern2.z</key>
		<integer>18</integer>
	</dict>
	<key>public.kern1.germandbls</key>
	<dict>
		<key>public.kern2.b</key>
		<integer>-70</integer>
	</dict>
	<key>public.kern1.hyphen</key>
	<dict>
		<key>public.kern2.N</key>
		<integer>-100</integer>
		<key>public.kern2.U</key>
		<integer>-80</integer>
		<key>public.kern2.V</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.i</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-40</integer>
		<key>public.kern2.R</key>
		<integer>-40</integer>
		<key>public.kern2._slong</key>
		<integer>-40</integer>
		<key>public.kern2.b</key>
		<integer>-50</integer>
		<key>public.kern2.g</key>
		<integer>-50</integer>
		<key>public.kern2.i</key>
		<integer>10</integer>
		<key>public.kern2.j</key>
		<integer>-65</integer>
		<key>public.kern2.o</key>
		<integer>-40</integer>
		<key>public.kern2.p</key>
		<integer>-75</integer>
		<key>public.kern2.quoteright</key>
		<integer>-100</integer>
		<key>public.kern2.t</key>
		<integer>-20</integer>
		<key>public.kern2.u</key>
		<integer>-60</integer>
		<key>public.kern2.v</key>
		<integer>-80</integer>
		<key>public.kern2.x</key>
		<integer>-15</integer>
		<key>public.kern2.y</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.j</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>35</integer>
		<key>public.kern2.o</key>
		<integer>5</integer>
		<key>public.kern2.p</key>
		<integer>20</integer>
		<key>public.kern2.s</key>
		<integer>20</integer>
		<key>public.kern2.y</key>
		<integer>25</integer>
	</dict>
	<key>public.kern1.k</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-40</integer>
		<key>public.kern2.N</key>
		<integer>-40</integer>
		<key>public.kern2.a</key>
		<integer>-38</integer>
		<key>public.kern2.b</key>
		<integer>-66</integer>
		<key>public.kern2.eight</key>
		<integer>-60</integer>
		<key>public.kern2.g</key>
		<integer>-50</integer>
		<key>public.kern2.i</key>
		<integer>-35</integer>
		<key>public.kern2.j</key>
		<integer>-80</integer>
		<key>public.kern2.l</key>
		<integer>-50</integer>
		<key>public.kern2.o</key>
		<integer>-80</integer>
		<key>public.kern2.p</key>
		<integer>-22</integer>
		<key>public.kern2.s</key>
		<integer>-70</integer>
		<key>public.kern2.u</key>
		<integer>-45</integer>
	</dict>
	<key>public.kern1.l</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-40</integer>
		<key>public.kern2.g</key>
		<integer>-40</integer>
		<key>public.kern2.j</key>
		<integer>-50</integer>
		<key>public.kern2.l</key>
		<integer>-10</integer>
		<key>public.kern2.o</key>
		<integer>-40</integer>
		<key>public.kern2.p</key>
		<integer>-70</integer>
		<key>public.kern2.quoteright</key>
		<integer>-75</integer>
		<key>public.kern2.t</key>
		<integer>-20</integer>
		<key>public.kern2.u</key>
		<integer>-60</integer>
		<key>public.kern2.v</key>
		<integer>-65</integer>
		<key>public.kern2.y</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.o</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-40</integer>
		<key>public.kern2.N</key>
		<integer>-40</integer>
		<key>public.kern2.O</key>
		<integer>-10</integer>
		<key>public.kern2.R</key>
		<integer>-60</integer>
		<key>public.kern2.S</key>
		<integer>-40</integer>
		<key>public.kern2.X</key>
		<integer>-110</integer>
		<key>public.kern2.b</key>
		<integer>-60</integer>
		<key>public.kern2.i</key>
		<integer>-10</integer>
		<key>public.kern2.j</key>
		<integer>-55</integer>
		<key>public.kern2.l</key>
		<integer>-45</integer>
		<key>public.kern2.p</key>
		<integer>-30</integer>
		<key>public.kern2.period</key>
		<integer>-20</integer>
		<key>public.kern2.quoteright</key>
		<integer>-30</integer>
		<key>public.kern2.s</key>
		<integer>-30</integer>
		<key>public.kern2.t</key>
		<integer>-20</integer>
		<key>public.kern2.u</key>
		<integer>-40</integer>
		<key>public.kern2.underscore</key>
		<integer>-20</integer>
		<key>public.kern2.v</key>
		<integer>-65</integer>
		<key>public.kern2.x</key>
		<integer>-60</integer>
		<key>public.kern2.z</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.parenleft</key>
	<dict>
		<key>public.kern2.O</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.q</key>
	<dict>
		<key>public.kern2.R</key>
		<integer>40</integer>
		<key>public.kern2.a</key>
		<integer>30</integer>
		<key>public.kern2.i</key>
		<integer>30</integer>
		<key>public.kern2.o</key>
		<integer>5</integer>
		<key>public.kern2.p</key>
		<integer>80</integer>
		<key>public.kern2.y</key>
		<integer>25</integer>
	</dict>
	<key>public.kern1.quoteright</key>
	<dict>
		<key>public.kern2.Y</key>
		<integer>-20</integer>
		<key>public.kern2.a</key>
		<integer>-75</integer>
		<key>public.kern2.i</key>
		<integer>-80</integer>
		<key>public.kern2.l</key>
		<integer>-5</integer>
		<key>public.kern2.o</key>
		<integer>-110</integer>
		<key>public.kern2.p</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.r</key>
	<dict>
		<key>public.kern2.i</key>
		<integer>-10</integer>
		<key>public.kern2.o</key>
		<integer>-45</integer>
		<key>public.kern2.s</key>
		<integer>-25</integer>
	</dict>
	<key>public.kern1.s</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-55</integer>
		<key>public.kern2.R</key>
		<integer>-60</integer>
		<key>public.kern2.b</key>
		<integer>-45</integer>
		<key>public.kern2.i</key>
		<integer>-20</integer>
		<key>public.kern2.j</key>
		<integer>-35</integer>
		<key>public.kern2.l</key>
		<integer>-45</integer>
		<key>public.kern2.p</key>
		<integer>-35</integer>
		<key>public.kern2.s</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.space</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>50</integer>
		<key>public.kern2.G</key>
		<integer>50</integer>
		<key>public.kern2.K</key>
		<integer>80</integer>
		<key>public.kern2.N</key>
		<integer>40</integer>
		<key>public.kern2.O</key>
		<integer>50</integer>
		<key>public.kern2.R</key>
		<integer>50</integer>
		<key>public.kern2.S</key>
		<integer>80</integer>
		<key>public.kern2.T</key>
		<integer>40</integer>
		<key>public.kern2.U</key>
		<integer>60</integer>
		<key>public.kern2.V</key>
		<integer>60</integer>
		<key>public.kern2.Z</key>
		<integer>50</integer>
	</dict>
	<key>public.kern1.t</key>
	<dict>
		<key>public.kern2.u</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.u</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-40</integer>
		<key>public.kern2.R</key>
		<integer>-40</integer>
		<key>public.kern2.b</key>
		<integer>-65</integer>
		<key>public.kern2.g</key>
		<integer>-45</integer>
		<key>public.kern2.i</key>
		<integer>-35</integer>
		<key>public.kern2.j</key>
		<integer>-85</integer>
		<key>public.kern2.l</key>
		<integer>-50</integer>
		<key>public.kern2.o</key>
		<integer>-42</integer>
		<key>public.kern2.p</key>
		<integer>-40</integer>
		<key>public.kern2.quoteright</key>
		<integer>-80</integer>
		<key>public.kern2.s</key>
		<integer>-25</integer>
		<key>public.kern2.t</key>
		<integer>-20</integer>
		<key>public.kern2.u</key>
		<integer>-45</integer>
		<key>public.kern2.v</key>
		<integer>-75</integer>
		<key>public.kern2.x</key>
		<integer>-55</integer>
		<key>public.kern2.y</key>
		<integer>-50</integer>
		<key>public.kern2.z</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.underscore</key>
	<dict>
		<key>public.kern2.O</key>
		<integer>-100</integer>
		<key>public.kern2.o</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.v</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-135</integer>
		<key>public.kern2.N</key>
		<integer>-160</integer>
		<key>public.kern2.R</key>
		<integer>-60</integer>
		<key>public.kern2.U</key>
		<integer>-90</integer>
		<key>public.kern2.V</key>
		<integer>-140</integer>
		<key>public.kern2.Y</key>
		<integer>-150</integer>
		<key>public.kern2.a</key>
		<integer>-10</integer>
		<key>public.kern2.b</key>
		<integer>-55</integer>
		<key>public.kern2.g</key>
		<integer>-60</integer>
		<key>public.kern2.i</key>
		<integer>-30</integer>
		<key>public.kern2.j</key>
		<integer>-35</integer>
		<key>public.kern2.l</key>
		<integer>-80</integer>
		<key>public.kern2.o</key>
		<integer>-60</integer>
		<key>public.kern2.p</key>
		<integer>-20</integer>
		<key>public.kern2.u</key>
		<integer>-30</integer>
		<key>public.kern2.v</key>
		<integer>-25</integer>
		<key>public.kern2.x</key>
		<integer>-15</integer>
		<key>public.kern2.y</key>
		<integer>20</integer>
		<key>public.kern2.z</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.x</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-10</integer>
		<key>public.kern2.b</key>
		<integer>-90</integer>
		<key>public.kern2.l</key>
		<integer>-40</integer>
		<key>public.kern2.o</key>
		<integer>-95</integer>
		<key>public.kern2.p</key>
		<integer>-60</integer>
		<key>public.kern2.u</key>
		<integer>-60</integer>
		<key>public.kern2.v</key>
		<integer>-70</integer>
		<key>public.kern2.y</key>
		<integer>-25</integer>
	</dict>
	<key>public.kern1.ydieresis</key>
	<dict>
		<key>public.kern2.y</key>
		<integer>20</integer>
	</dict>
	<key>public.kern1.z</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-60</integer>
		<key>public.kern2.Z</key>
		<integer>-70</integer>
		<key>public.kern2.b</key>
		<integer>-45</integer>
		<key>public.kern2.j</key>
		<integer>-40</integer>
		<key>public.kern2.l</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-20</integer>
		<key>public.kern2.z</key>
		<integer>-40</integer>
	</dict>
	<key>q</key>
	<dict>
		<key>comma</key>
		<integer>35</integer>
		<key>j</key>
		<integer>35</integer>
	</dict>
	<key>questiondown</key>
	<dict>
		<key>public.kern2.N</key>
		<integer>-140</integer>
	</dict>
	<key>quotesingle</key>
	<dict>
		<key>dotlessi</key>
		<integer>-80</integer>
		<key>eng</key>
		<integer>-80</integer>
		<key>f</key>
		<integer>-80</integer>
		<key>f_f.liga</key>
		<integer>-80</integer>
		<key>f_i.liga</key>
		<integer>-80</integer>
		<key>i</key>
		<integer>-80</integer>
		<key>i.loclTRK</key>
		<integer>-80</integer>
		<key>iacute</key>
		<integer>-80</integer>
		<key>icircumflex</key>
		<integer>-80</integer>
		<key>idieresis</key>
		<integer>-80</integer>
		<key>imacron</key>
		<integer>-80</integer>
		<key>iogonek</key>
		<integer>-80</integer>
		<key>m</key>
		<integer>-80</integer>
		<key>n</key>
		<integer>-80</integer>
		<key>nacute</key>
		<integer>-80</integer>
		<key>ncaron</key>
		<integer>-80</integer>
		<key>ntilde</key>
		<integer>-80</integer>
		<key>one.osf</key>
		<integer>-80</integer>
		<key>r</key>
		<integer>-80</integer>
		<key>racute</key>
		<integer>-80</integer>
		<key>rcaron</key>
		<integer>-80</integer>
		<key>uni0146</key>
		<integer>-80</integer>
		<key>uni0157</key>
		<integer>-80</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>A</key>
		<integer>-120</integer>
		<key>Eng</key>
		<integer>-150</integer>
		<key>M</key>
		<integer>-120</integer>
		<key>M.ss01</key>
		<integer>-120</integer>
		<key>N</key>
		<integer>-150</integer>
		<key>Nacute</key>
		<integer>-150</integer>
		<key>Ncaron</key>
		<integer>-150</integer>
		<key>Thorn</key>
		<integer>-65</integer>
		<key>b</key>
		<integer>-65</integer>
		<key>comma</key>
		<integer>-40</integer>
		<key>g</key>
		<integer>-45</integer>
		<key>gbreve</key>
		<integer>-45</integer>
		<key>gdotaccent</key>
		<integer>-45</integer>
		<key>h</key>
		<integer>-40</integer>
		<key>hbar</key>
		<integer>-40</integer>
		<key>k</key>
		<integer>-40</integer>
		<key>l</key>
		<integer>-40</integer>
		<key>lacute</key>
		<integer>-40</integer>
		<key>lslash</key>
		<integer>-40</integer>
		<key>p</key>
		<integer>-25</integer>
		<key>period</key>
		<integer>-50</integer>
		<key>semicolon</key>
		<integer>-40</integer>
		<key>thorn</key>
		<integer>-65</integer>
		<key>uni0123</key>
		<integer>-45</integer>
		<key>uni0137</key>
		<integer>-40</integer>
		<key>uni013C</key>
		<integer>-40</integer>
		<key>uni0145</key>
		<integer>-150</integer>
		<key>x</key>
		<integer>-40</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>eight</key>
		<integer>-35</integer>
		<key>four</key>
		<integer>-80</integer>
	</dict>
	<key>six</key>
	<dict>
		<key>nine</key>
		<integer>-25</integer>
		<key>seven</key>
		<integer>-40</integer>
		<key>zero</key>
		<integer>-15</integer>
	</dict>
	<key>space</key>
	<dict>
		<key>F</key>
		<integer>48</integer>
		<key>J</key>
		<integer>80</integer>
		<key>X</key>
		<integer>40</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>A</key>
		<integer>-20</integer>
		<key>Eng</key>
		<integer>-40</integer>
		<key>M</key>
		<integer>-20</integer>
		<key>M.ss01</key>
		<integer>-20</integer>
		<key>N</key>
		<integer>-40</integer>
		<key>Nacute</key>
		<integer>-40</integer>
		<key>Ncaron</key>
		<integer>-40</integer>
		<key>Thorn</key>
		<integer>-55</integer>
		<key>Y</key>
		<integer>-100</integer>
		<key>Yacute</key>
		<integer>-100</integer>
		<key>Ycircumflex</key>
		<integer>-100</integer>
		<key>Ydieresis</key>
		<integer>-100</integer>
		<key>Ygrave</key>
		<integer>-100</integer>
		<key>a.ss02</key>
		<integer>-22</integer>
		<key>b</key>
		<integer>-55</integer>
		<key>c</key>
		<integer>-22</integer>
		<key>c_t.liga</key>
		<integer>-22</integer>
		<key>cacute</key>
		<integer>-22</integer>
		<key>ccaron</key>
		<integer>-22</integer>
		<key>ccedilla</key>
		<integer>-22</integer>
		<key>cdotaccent</key>
		<integer>-22</integer>
		<key>cent</key>
		<integer>-22</integer>
		<key>d</key>
		<integer>-22</integer>
		<key>dcroat</key>
		<integer>-22</integer>
		<key>dotlessi</key>
		<integer>-20</integer>
		<key>e</key>
		<integer>-22</integer>
		<key>eng</key>
		<integer>-20</integer>
		<key>eth</key>
		<integer>-22</integer>
		<key>f</key>
		<integer>-20</integer>
		<key>f_f.liga</key>
		<integer>-20</integer>
		<key>f_i.liga</key>
		<integer>-20</integer>
		<key>g</key>
		<integer>-32</integer>
		<key>gbreve</key>
		<integer>-32</integer>
		<key>gdotaccent</key>
		<integer>-32</integer>
		<key>h</key>
		<integer>-40</integer>
		<key>hbar</key>
		<integer>-40</integer>
		<key>i</key>
		<integer>-20</integer>
		<key>i.loclTRK</key>
		<integer>-20</integer>
		<key>iacute</key>
		<integer>-20</integer>
		<key>icircumflex</key>
		<integer>-20</integer>
		<key>idieresis</key>
		<integer>-20</integer>
		<key>imacron</key>
		<integer>-20</integer>
		<key>iogonek</key>
		<integer>-20</integer>
		<key>j</key>
		<integer>-40</integer>
		<key>k</key>
		<integer>-40</integer>
		<key>l</key>
		<integer>-40</integer>
		<key>lacute</key>
		<integer>-40</integer>
		<key>lslash</key>
		<integer>-40</integer>
		<key>m</key>
		<integer>-20</integer>
		<key>n</key>
		<integer>-20</integer>
		<key>nacute</key>
		<integer>-20</integer>
		<key>ncaron</key>
		<integer>-20</integer>
		<key>ntilde</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-22</integer>
		<key>oacute</key>
		<integer>-22</integer>
		<key>ocircumflex</key>
		<integer>-22</integer>
		<key>odieresis</key>
		<integer>-22</integer>
		<key>oe</key>
		<integer>-22</integer>
		<key>ograve</key>
		<integer>-22</integer>
		<key>ohungarumlaut</key>
		<integer>-22</integer>
		<key>omacron</key>
		<integer>-22</integer>
		<key>one.osf</key>
		<integer>-20</integer>
		<key>oslash</key>
		<integer>-22</integer>
		<key>otilde</key>
		<integer>-22</integer>
		<key>p</key>
		<integer>-20</integer>
		<key>q</key>
		<integer>-22</integer>
		<key>quoteright</key>
		<integer>-20</integer>
		<key>quotesingle</key>
		<integer>-20</integer>
		<key>r</key>
		<integer>-20</integer>
		<key>racute</key>
		<integer>-20</integer>
		<key>rcaron</key>
		<integer>-20</integer>
		<key>registered</key>
		<integer>-22</integer>
		<key>thorn</key>
		<integer>-55</integer>
		<key>uni0123</key>
		<integer>-32</integer>
		<key>uni0137</key>
		<integer>-40</integer>
		<key>uni013C</key>
		<integer>-40</integer>
		<key>uni0145</key>
		<integer>-40</integer>
		<key>uni0146</key>
		<integer>-20</integer>
		<key>uni0157</key>
		<integer>-20</integer>
	</dict>
	<key>three</key>
	<dict>
		<key>four</key>
		<integer>-10</integer>
	</dict>
	<key>two</key>
	<dict>
		<key>three</key>
		<integer>-20</integer>
		<key>zero</key>
		<integer>-20</integer>
	</dict>
	<key>uni013C</key>
	<dict>
		<key>quotesingle</key>
		<integer>-80</integer>
	</dict>
	<key>uni0146</key>
	<dict>
		<key>Z</key>
		<integer>-8</integer>
		<key>s</key>
		<integer>-18</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>j</key>
		<integer>-76</integer>
		<key>x</key>
		<integer>-30</integer>
	</dict>
	<key>zero</key>
	<dict>
		<key>one</key>
		<integer>-20</integer>
	</dict>
</dict>
</plist>
