<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>panose</string>
			<key>value</key>
			<array>
				<integer>2</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>glyphOrder</string>
			<key>value</key>
			<array>
				<string>.notdef</string>
				<string>N</string>
				<string>T</string>
				<string>V</string>
				<string>Y</string>
				<string>R</string>
				<string>K</string>
				<string>L</string>
				<string>B</string>
				<string>S</string>
				<string>I</string>
				<string>U</string>
				<string>X</string>
				<string>Z</string>
				<string>hyphen</string>
				<string>underscore</string>
				<string>bar</string>
				<string>i</string>
				<string>l</string>
				<string>n</string>
				<string>r</string>
				<string>j</string>
				<string>o</string>
				<string>m</string>
				<string>h</string>
				<string>e</string>
				<string>k</string>
				<string>c</string>
				<string>g</string>
				<string>t</string>
				<string>f</string>
				<string>s</string>
				<string>u</string>
				<string>b</string>
				<string>d</string>
				<string>q</string>
				<string>p</string>
				<string>v</string>
				<string>w</string>
				<string>y</string>
				<string>z</string>
				<string>a</string>
				<string>x</string>
				<string>A</string>
				<string>O</string>
				<string>Q</string>
				<string>_slong</string>
				<string>dollar</string>
				<string>florin</string>
				<string>OE</string>
				<string>oe</string>
				<string>AE</string>
				<string>ellipsis</string>
				<string>dieresis</string>
				<string>Adieresis</string>
				<string>Edieresis</string>
				<string>Idieresis</string>
				<string>Odieresis</string>
				<string>Udieresis</string>
				<string>adieresis</string>
				<string>edieresis</string>
				<string>odieresis</string>
				<string>udieresis</string>
				<string>ydieresis</string>
				<string>dotaccent</string>
				<string>fraction</string>
				<string>backslash</string>
				<string>slash</string>
				<string>plus</string>
				<string>colon</string>
				<string>period</string>
				<string>multiply</string>
				<string>Eth</string>
				<string>divide</string>
				<string>oslash</string>
				<string>minus</string>
				<string>plusminus</string>
				<string>numbersign</string>
				<string>Lslash</string>
				<string>equal</string>
				<string>endash</string>
				<string>emdash</string>
				<string>Ydieresis</string>
				<string>yen</string>
				<string>acute</string>
				<string>grave</string>
				<string>comma</string>
				<string>semicolon</string>
				<string>cent</string>
				<string>Agrave</string>
				<string>Aacute</string>
				<string>Egrave</string>
				<string>Eacute</string>
				<string>Igrave</string>
				<string>Iacute</string>
				<string>Ograve</string>
				<string>Oacute</string>
				<string>Oslash</string>
				<string>Ugrave</string>
				<string>Uacute</string>
				<string>Yacute</string>
				<string>agrave</string>
				<string>aacute</string>
				<string>egrave</string>
				<string>eacute</string>
				<string>ograve</string>
				<string>oacute</string>
				<string>ugrave</string>
				<string>uacute</string>
				<string>yacute</string>
				<string>asciicircum</string>
				<string>circumflex</string>
				<string>caron</string>
				<string>Acircumflex</string>
				<string>Ecircumflex</string>
				<string>Icircumflex</string>
				<string>Ocircumflex</string>
				<string>Ucircumflex</string>
				<string>acircumflex</string>
				<string>ecircumflex</string>
				<string>ocircumflex</string>
				<string>ucircumflex</string>
				<string>less</string>
				<string>greater</string>
				<string>guilsinglright</string>
				<string>guilsinglleft</string>
				<string>guillemotleft</string>
				<string>guillemotright</string>
				<string>trademark</string>
				<string>uni00B5</string>
				<string>bracketleft</string>
				<string>Zcaron</string>
				<string>zcaron</string>
				<string>Scaron</string>
				<string>scaron</string>
				<string>exclam</string>
				<string>asterisk</string>
				<string>zero</string>
				<string>bracketright</string>
				<string>parenleft</string>
				<string>parenright</string>
				<string>braceleft</string>
				<string>braceright</string>
				<string>quotesinglbase</string>
				<string>quotedblbase</string>
				<string>ordfeminine</string>
				<string>ring</string>
				<string>aring</string>
				<string>percent</string>
				<string>cedilla</string>
				<string>ccedilla</string>
				<string>ordmasculine</string>
				<string>asciitilde</string>
				<string>tilde</string>
				<string>Ccedilla</string>
				<string>Ntilde</string>
				<string>Otilde</string>
				<string>atilde</string>
				<string>ntilde</string>
				<string>otilde</string>
				<string>sterling</string>
				<string>exclamdown</string>
				<string>question</string>
				<string>questiondown</string>
				<string>lslash</string>
				<string>dagger</string>
				<string>daggerdbl</string>
				<string>germandbls</string>
				<string>one</string>
				<string>two</string>
				<string>brokenbar</string>
				<string>periodcentered</string>
				<string>Atilde</string>
				<string>Aring</string>
				<string>quotedblright</string>
				<string>quotedblleft</string>
				<string>quoteleft</string>
				<string>quoteright</string>
				<string>quotesingle</string>
				<string>quotedbl</string>
				<string>hungarumlaut</string>
				<string>perthousand</string>
				<string>bullet</string>
				<string>degree</string>
				<string>registered</string>
				<string>copyright</string>
				<string>currency</string>
				<string>eth</string>
				<string>uni00B9</string>
				<string>Thorn</string>
				<string>thorn</string>
				<string>ampersand</string>
				<string>onequarter</string>
				<string>at</string>
				<string>space</string>
				<string>three</string>
				<string>four</string>
				<string>five</string>
				<string>six</string>
				<string>seven</string>
				<string>Q_ss01</string>
				<string>M_ss01</string>
				<string>W_ss01</string>
				<string>T_ss01</string>
				<string>section</string>
				<string>nine</string>
				<string>altlove</string>
				<string>a_alt</string>
				<string>E</string>
				<string>_0129</string>
				<string>eight</string>
				<string>r_arrow</string>
				<string>l_arrow</string>
				<string>u_arrow</string>
				<string>d_arrow</string>
				<string>u1F48C</string>
				<string>rr_arrow</string>
				<string>ll_arrow</string>
				<string>uu_arrow</string>
				<string>dd_arrow</string>
				<string>u1F480</string>
				<string>G_ss01</string>
				<string>F</string>
				<string>H</string>
				<string>J</string>
				<string>C</string>
				<string>D</string>
				<string>G</string>
				<string>M</string>
				<string>oneOnum</string>
				<string>twoOnum</string>
				<string>threeOnum</string>
				<string>fourOnum</string>
				<string>fiveOnum</string>
				<string>sevenOnum</string>
				<string>nineOnum</string>
				<string>zeroOnum</string>
				<string>ae</string>
				<string>W</string>
				<string>onehalf</string>
				<string>threequarters</string>
				<string>uni00B2</string>
				<string>uni00B3</string>
				<string>igrave</string>
				<string>iacute</string>
				<string>icircumflex</string>
				<string>idieresis</string>
				<string>paragraph</string>
				<string>A_ss03</string>
				<string>B_ss03</string>
				<string>C_ss03</string>
				<string>D_ss03</string>
				<string>E_ss03</string>
				<string>F_ss03</string>
				<string>G_ss03</string>
				<string>H_ss03</string>
				<string>I_ss03</string>
				<string>J_ss03</string>
				<string>K_ss03</string>
				<string>L_ss03</string>
				<string>M_ss03</string>
				<string>N_ss03</string>
				<string>O_ss03</string>
				<string>P_ss03</string>
				<string>Q_ss03</string>
				<string>R_ss03</string>
				<string>S_ss03</string>
				<string>T_ss03</string>
				<string>U_ss03</string>
				<string>V_ss03</string>
				<string>W_ss03</string>
				<string>X_ss03</string>
				<string>Y_ss03</string>
				<string>Z_ss03</string>
				<string>P</string>
				<string>Abreve</string>
				<string>Amacron</string>
				<string>Aogonek</string>
				<string>Cacute</string>
				<string>Ccaron</string>
				<string>Cdotaccent</string>
				<string>Dcaron</string>
				<string>Dcroat</string>
				<string>Ecaron</string>
				<string>Edotaccent</string>
				<string>Emacron</string>
				<string>Eogonek</string>
				<string>Gbreve</string>
				<string>Gcommaaccent</string>
				<string>Gdotaccent</string>
				<string>Hbar</string>
				<string>Idotaccent</string>
				<string>Imacron</string>
				<string>Iogonek</string>
				<string>Kcommaaccent</string>
				<string>Lacute</string>
				<string>Lcaron</string>
				<string>Lcommaaccent</string>
				<string>Nacute</string>
				<string>Ncaron</string>
				<string>Ncommaaccent</string>
				<string>Eng</string>
				<string>Ohungarumlaut</string>
				<string>Omacron</string>
				<string>Racute</string>
				<string>Rcaron</string>
				<string>Rcommaaccent</string>
				<string>Sacute</string>
				<string>Scedilla</string>
				<string>Scommaaccent</string>
				<string>Tbar</string>
				<string>Tcaron</string>
				<string>uni0162</string>
				<string>uni021A</string>
				<string>Uhungarumlaut</string>
				<string>Umacron</string>
				<string>Uogonek</string>
				<string>Uring</string>
				<string>Wacute</string>
				<string>Wcircumflex</string>
				<string>Wdieresis</string>
				<string>Wgrave</string>
				<string>Ycircumflex</string>
				<string>Ygrave</string>
				<string>Zacute</string>
				<string>Zdotaccent</string>
				<string>abreve</string>
				<string>amacron</string>
				<string>aogonek</string>
				<string>cacute</string>
				<string>ccaron</string>
				<string>cdotaccent</string>
				<string>dcaron</string>
				<string>dcroat</string>
				<string>ecaron</string>
				<string>edotaccent</string>
				<string>emacron</string>
				<string>eogonek</string>
				<string>gbreve</string>
				<string>gcommaaccent</string>
				<string>gdotaccent</string>
				<string>hbar</string>
				<string>dotlessi</string>
				<string>i.loclTRK</string>
				<string>imacron</string>
				<string>iogonek</string>
				<string>kcommaaccent</string>
				<string>lacute</string>
				<string>lcaron</string>
				<string>lcommaaccent</string>
				<string>nacute</string>
				<string>ncaron</string>
				<string>ncommaaccent</string>
				<string>eng</string>
				<string>ohungarumlaut</string>
				<string>omacron</string>
				<string>racute</string>
				<string>rcaron</string>
				<string>rcommaaccent</string>
				<string>sacute</string>
				<string>scedilla</string>
				<string>scommaaccent</string>
				<string>tbar</string>
				<string>tcaron</string>
				<string>uni0163</string>
				<string>uni021B</string>
				<string>uhungarumlaut</string>
				<string>umacron</string>
				<string>uogonek</string>
				<string>uring</string>
				<string>wacute</string>
				<string>wcircumflex</string>
				<string>wdieresis</string>
				<string>wgrave</string>
				<string>ycircumflex</string>
				<string>ygrave</string>
				<string>zacute</string>
				<string>zdotaccent</string>
				<string>A_N_N_A_space.dlig</string>
				<string>A_n_n_a_space.dlig</string>
				<string>C_e.dlig</string>
				<string>D_e.dlig</string>
				<string>L_O_V_E.dlig</string>
				<string>L_a.dlig</string>
				<string>L_e.dlig</string>
				<string>L_o_v_e.dlig</string>
				<string>O_O.dlig</string>
				<string>O_u.dlig</string>
				<string>T_T.dlig</string>
				<string>V_T_F.dlig</string>
				<string>d_equal.dlig</string>
				<string>d_underscore.dlig</string>
				<string>l_equal.dlig</string>
				<string>l_underscore.dlig</string>
				<string>r_equal.dlig</string>
				<string>r_underscore.dlig</string>
				<string>u_equal.dlig</string>
				<string>u_underscore.dlig</string>
				<string>w_w_w.dlig</string>
				<string>R_B.liga</string>
				<string>R_P.liga</string>
				<string>R_R.liga</string>
				<string>R_S.liga</string>
				<string>T_h.liga</string>
				<string>c_t.liga</string>
				<string>f_f.liga</string>
				<string>f_i.liga</string>
				<string>f_l.liga</string>
				<string>s_p.liga</string>
				<string>s_t.liga</string>
				<string>Euro</string>
				<string>arrowup</string>
				<string>arrowright</string>
				<string>arrowdown</string>
				<string>arrowleft</string>
				<string>uni0308</string>
				<string>uni0307</string>
				<string>gravecomb</string>
				<string>acutecomb</string>
				<string>uni030B</string>
				<string>uni0302</string>
				<string>uni030C</string>
				<string>uni0306</string>
				<string>uni030A</string>
				<string>tildecomb</string>
				<string>uni0304</string>
				<string>uni0312</string>
				<string>uni0326</string>
				<string>uni0327</string>
				<string>uni0328</string>
				<string>uni0335</string>
				<string>uni0336</string>
				<string>uni0337</string>
				<string>uni0338</string>
				<string>uni030B.case</string>
				<string>uni0304.case</string>
				<string>uni0327.case</string>
			</array>
		</dict>
	</array>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>543A10D7-AEBA-4506-A699-AAC0E38B8B94</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>N</string>
		<string>T</string>
		<string>V</string>
		<string>Y</string>
		<string>R</string>
		<string>K</string>
		<string>L</string>
		<string>B</string>
		<string>S</string>
		<string>I</string>
		<string>U</string>
		<string>X</string>
		<string>Z</string>
		<string>hyphen</string>
		<string>underscore</string>
		<string>bar</string>
		<string>i</string>
		<string>l</string>
		<string>n</string>
		<string>r</string>
		<string>j</string>
		<string>o</string>
		<string>m</string>
		<string>h</string>
		<string>e</string>
		<string>k</string>
		<string>c</string>
		<string>g</string>
		<string>t</string>
		<string>f</string>
		<string>s</string>
		<string>u</string>
		<string>b</string>
		<string>d</string>
		<string>q</string>
		<string>p</string>
		<string>v</string>
		<string>w</string>
		<string>y</string>
		<string>z</string>
		<string>a</string>
		<string>x</string>
		<string>A</string>
		<string>O</string>
		<string>Q</string>
		<string>_slong</string>
		<string>dollar</string>
		<string>florin</string>
		<string>OE</string>
		<string>oe</string>
		<string>AE</string>
		<string>ellipsis</string>
		<string>dieresis</string>
		<string>Adieresis</string>
		<string>Edieresis</string>
		<string>Idieresis</string>
		<string>Odieresis</string>
		<string>Udieresis</string>
		<string>adieresis</string>
		<string>edieresis</string>
		<string>odieresis</string>
		<string>udieresis</string>
		<string>ydieresis</string>
		<string>dotaccent</string>
		<string>fraction</string>
		<string>backslash</string>
		<string>slash</string>
		<string>plus</string>
		<string>colon</string>
		<string>period</string>
		<string>multiply</string>
		<string>Eth</string>
		<string>divide</string>
		<string>oslash</string>
		<string>minus</string>
		<string>plusminus</string>
		<string>numbersign</string>
		<string>Lslash</string>
		<string>equal</string>
		<string>endash</string>
		<string>emdash</string>
		<string>Ydieresis</string>
		<string>yen</string>
		<string>acute</string>
		<string>grave</string>
		<string>comma</string>
		<string>semicolon</string>
		<string>cent</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Oslash</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Yacute</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>yacute</string>
		<string>asciicircum</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>Acircumflex</string>
		<string>Ecircumflex</string>
		<string>Icircumflex</string>
		<string>Ocircumflex</string>
		<string>Ucircumflex</string>
		<string>acircumflex</string>
		<string>ecircumflex</string>
		<string>ocircumflex</string>
		<string>ucircumflex</string>
		<string>less</string>
		<string>greater</string>
		<string>guilsinglright</string>
		<string>guilsinglleft</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>trademark</string>
		<string>uni00B5</string>
		<string>bracketleft</string>
		<string>Zcaron</string>
		<string>zcaron</string>
		<string>Scaron</string>
		<string>scaron</string>
		<string>exclam</string>
		<string>asterisk</string>
		<string>zero</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>ordfeminine</string>
		<string>ring</string>
		<string>aring</string>
		<string>percent</string>
		<string>cedilla</string>
		<string>ccedilla</string>
		<string>ordmasculine</string>
		<string>asciitilde</string>
		<string>tilde</string>
		<string>Ccedilla</string>
		<string>Ntilde</string>
		<string>Otilde</string>
		<string>atilde</string>
		<string>ntilde</string>
		<string>otilde</string>
		<string>sterling</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
		<string>lslash</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>germandbls</string>
		<string>one</string>
		<string>two</string>
		<string>brokenbar</string>
		<string>periodcentered</string>
		<string>Atilde</string>
		<string>Aring</string>
		<string>quotedblright</string>
		<string>quotedblleft</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>hungarumlaut</string>
		<string>perthousand</string>
		<string>bullet</string>
		<string>degree</string>
		<string>registered</string>
		<string>copyright</string>
		<string>currency</string>
		<string>eth</string>
		<string>uni00B9</string>
		<string>Thorn</string>
		<string>thorn</string>
		<string>ampersand</string>
		<string>onequarter</string>
		<string>at</string>
		<string>space</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>Q_ss01</string>
		<string>M_ss01</string>
		<string>W_ss01</string>
		<string>T_ss01</string>
		<string>section</string>
		<string>nine</string>
		<string>altlove</string>
		<string>a_alt</string>
		<string>E</string>
		<string>_0129</string>
		<string>eight</string>
		<string>r_arrow</string>
		<string>l_arrow</string>
		<string>u_arrow</string>
		<string>d_arrow</string>
		<string>u1F48C</string>
		<string>rr_arrow</string>
		<string>ll_arrow</string>
		<string>uu_arrow</string>
		<string>dd_arrow</string>
		<string>u1F480</string>
		<string>G_ss01</string>
		<string>F</string>
		<string>H</string>
		<string>J</string>
		<string>C</string>
		<string>D</string>
		<string>G</string>
		<string>M</string>
		<string>oneOnum</string>
		<string>twoOnum</string>
		<string>threeOnum</string>
		<string>fourOnum</string>
		<string>fiveOnum</string>
		<string>sevenOnum</string>
		<string>nineOnum</string>
		<string>zeroOnum</string>
		<string>ae</string>
		<string>W</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>uni00B2</string>
		<string>uni00B3</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>paragraph</string>
		<string>A_ss03</string>
		<string>B_ss03</string>
		<string>C_ss03</string>
		<string>D_ss03</string>
		<string>E_ss03</string>
		<string>F_ss03</string>
		<string>G_ss03</string>
		<string>H_ss03</string>
		<string>I_ss03</string>
		<string>J_ss03</string>
		<string>K_ss03</string>
		<string>L_ss03</string>
		<string>M_ss03</string>
		<string>N_ss03</string>
		<string>O_ss03</string>
		<string>P_ss03</string>
		<string>Q_ss03</string>
		<string>R_ss03</string>
		<string>S_ss03</string>
		<string>T_ss03</string>
		<string>U_ss03</string>
		<string>V_ss03</string>
		<string>W_ss03</string>
		<string>X_ss03</string>
		<string>Y_ss03</string>
		<string>Z_ss03</string>
		<string>P</string>
		<string>Abreve</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Cdotaccent</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Ecaron</string>
		<string>Edotaccent</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>Gbreve</string>
		<string>uni0122</string>
		<string>Gdotaccent</string>
		<string>Hbar</string>
		<string>Idotaccent</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>uni0136</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>uni013B</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>uni0145</string>
		<string>Eng</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>uni0156</string>
		<string>Sacute</string>
		<string>Scedilla</string>
		<string>uni0218</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>uni0162</string>
		<string>uni021A</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>Ycircumflex</string>
		<string>Ygrave</string>
		<string>Zacute</string>
		<string>Zdotaccent</string>
		<string>abreve</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>cdotaccent</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>ecaron</string>
		<string>edotaccent</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>gbreve</string>
		<string>uni0123</string>
		<string>gdotaccent</string>
		<string>hbar</string>
		<string>dotlessi</string>
		<string>i.loclTRK</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>uni0137</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>uni013C</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>uni0146</string>
		<string>eng</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>uni0157</string>
		<string>sacute</string>
		<string>scedilla</string>
		<string>uni0219</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>uni0163</string>
		<string>uni021B</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>ycircumflex</string>
		<string>ygrave</string>
		<string>zacute</string>
		<string>zdotaccent</string>
		<string>A_N_N_A_space.dlig</string>
		<string>A_n_n_a_space.dlig</string>
		<string>C_e.dlig</string>
		<string>D_e.dlig</string>
		<string>L_O_V_E.dlig</string>
		<string>L_a.dlig</string>
		<string>L_e.dlig</string>
		<string>L_o_v_e.dlig</string>
		<string>O_O.dlig</string>
		<string>O_u.dlig</string>
		<string>T_T.dlig</string>
		<string>V_T_F.dlig</string>
		<string>d_equal.dlig</string>
		<string>d_underscore.dlig</string>
		<string>l_equal.dlig</string>
		<string>l_underscore.dlig</string>
		<string>r_equal.dlig</string>
		<string>r_underscore.dlig</string>
		<string>u_equal.dlig</string>
		<string>u_underscore.dlig</string>
		<string>w_w_w.dlig</string>
		<string>R_B.liga</string>
		<string>R_P.liga</string>
		<string>R_R.liga</string>
		<string>R_S.liga</string>
		<string>T_h.liga</string>
		<string>c_t.liga</string>
		<string>f_f.liga</string>
		<string>f_i.liga</string>
		<string>f_l.liga</string>
		<string>s_p.liga</string>
		<string>s_t.liga</string>
		<string>Euro</string>
		<string>arrowup</string>
		<string>arrowright</string>
		<string>arrowdown</string>
		<string>arrowleft</string>
		<string>uni0308</string>
		<string>uni0307</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>uni030B</string>
		<string>uni0302</string>
		<string>uni030C</string>
		<string>uni0306</string>
		<string>uni030A</string>
		<string>tildecomb</string>
		<string>uni0304</string>
		<string>uni0312</string>
		<string>uni0326</string>
		<string>uni0327</string>
		<string>uni0328</string>
		<string>uni0335</string>
		<string>uni0336</string>
		<string>uni0337</string>
		<string>uni0338</string>
		<string>uni030B.case</string>
		<string>uni0304.case</string>
		<string>uni0327.case</string>
	</array>
	<key>com.schriftgestaltung.master.name</key>
	<string>Normal</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>400</integer>
	<key>com.schriftgestaltung.widthValue</key>
	<integer>5</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>N</string>
		<string>T</string>
		<string>V</string>
		<string>Y</string>
		<string>R</string>
		<string>K</string>
		<string>L</string>
		<string>B</string>
		<string>S</string>
		<string>I</string>
		<string>U</string>
		<string>X</string>
		<string>Z</string>
		<string>hyphen</string>
		<string>underscore</string>
		<string>bar</string>
		<string>i</string>
		<string>l</string>
		<string>n</string>
		<string>r</string>
		<string>j</string>
		<string>o</string>
		<string>m</string>
		<string>h</string>
		<string>e</string>
		<string>k</string>
		<string>c</string>
		<string>g</string>
		<string>t</string>
		<string>f</string>
		<string>s</string>
		<string>u</string>
		<string>b</string>
		<string>d</string>
		<string>q</string>
		<string>p</string>
		<string>v</string>
		<string>w</string>
		<string>y</string>
		<string>z</string>
		<string>a</string>
		<string>x</string>
		<string>A</string>
		<string>O</string>
		<string>Q</string>
		<string>dollar</string>
		<string>florin</string>
		<string>OE</string>
		<string>oe</string>
		<string>AE</string>
		<string>ellipsis</string>
		<string>dieresis</string>
		<string>Adieresis</string>
		<string>Edieresis</string>
		<string>Idieresis</string>
		<string>Odieresis</string>
		<string>Udieresis</string>
		<string>adieresis</string>
		<string>edieresis</string>
		<string>odieresis</string>
		<string>udieresis</string>
		<string>ydieresis</string>
		<string>dotaccent</string>
		<string>fraction</string>
		<string>backslash</string>
		<string>slash</string>
		<string>plus</string>
		<string>colon</string>
		<string>period</string>
		<string>multiply</string>
		<string>Eth</string>
		<string>divide</string>
		<string>oslash</string>
		<string>minus</string>
		<string>plusminus</string>
		<string>numbersign</string>
		<string>Lslash</string>
		<string>equal</string>
		<string>endash</string>
		<string>emdash</string>
		<string>Ydieresis</string>
		<string>yen</string>
		<string>acute</string>
		<string>grave</string>
		<string>comma</string>
		<string>semicolon</string>
		<string>cent</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Oslash</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Yacute</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>yacute</string>
		<string>asciicircum</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>Acircumflex</string>
		<string>Ecircumflex</string>
		<string>Icircumflex</string>
		<string>Ocircumflex</string>
		<string>Ucircumflex</string>
		<string>acircumflex</string>
		<string>ecircumflex</string>
		<string>ocircumflex</string>
		<string>ucircumflex</string>
		<string>less</string>
		<string>greater</string>
		<string>guilsinglright</string>
		<string>guilsinglleft</string>
		<string>trademark</string>
		<string>bracketleft</string>
		<string>Zcaron</string>
		<string>zcaron</string>
		<string>Scaron</string>
		<string>scaron</string>
		<string>exclam</string>
		<string>asterisk</string>
		<string>zero</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>ring</string>
		<string>aring</string>
		<string>percent</string>
		<string>cedilla</string>
		<string>ccedilla</string>
		<string>asciitilde</string>
		<string>tilde</string>
		<string>Ccedilla</string>
		<string>Ntilde</string>
		<string>Otilde</string>
		<string>atilde</string>
		<string>ntilde</string>
		<string>otilde</string>
		<string>sterling</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
		<string>lslash</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>germandbls</string>
		<string>one</string>
		<string>two</string>
		<string>brokenbar</string>
		<string>periodcentered</string>
		<string>Atilde</string>
		<string>Aring</string>
		<string>quotedblright</string>
		<string>quotedblleft</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>hungarumlaut</string>
		<string>perthousand</string>
		<string>bullet</string>
		<string>degree</string>
		<string>registered</string>
		<string>copyright</string>
		<string>currency</string>
		<string>eth</string>
		<string>Thorn</string>
		<string>thorn</string>
		<string>ampersand</string>
		<string>onequarter</string>
		<string>at</string>
		<string>space</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>section</string>
		<string>nine</string>
		<string>altlove</string>
		<string>E</string>
		<string>eight</string>
		<string>F</string>
		<string>H</string>
		<string>J</string>
		<string>C</string>
		<string>D</string>
		<string>G</string>
		<string>M</string>
		<string>ae</string>
		<string>W</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>paragraph</string>
		<string>P</string>
		<string>Abreve</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Cdotaccent</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Ecaron</string>
		<string>Edotaccent</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>Gbreve</string>
		<string>uni0122</string>
		<string>Gdotaccent</string>
		<string>Hbar</string>
		<string>Idotaccent</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>uni0136</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>uni013B</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>uni0145</string>
		<string>Eng</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>uni0156</string>
		<string>Sacute</string>
		<string>Scedilla</string>
		<string>uni0218</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>Ycircumflex</string>
		<string>Ygrave</string>
		<string>Zacute</string>
		<string>Zdotaccent</string>
		<string>abreve</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>cdotaccent</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>ecaron</string>
		<string>edotaccent</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>gbreve</string>
		<string>uni0123</string>
		<string>gdotaccent</string>
		<string>hbar</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>uni0137</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>uni013C</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>uni0146</string>
		<string>eng</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>uni0157</string>
		<string>sacute</string>
		<string>scedilla</string>
		<string>uni0219</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>ycircumflex</string>
		<string>ygrave</string>
		<string>zacute</string>
		<string>zdotaccent</string>
		<string>A_N_N_A_space.dlig</string>
		<string>A_n_n_a_space.dlig</string>
		<string>C_e.dlig</string>
		<string>D_e.dlig</string>
		<string>L_O_V_E.dlig</string>
		<string>L_a.dlig</string>
		<string>L_e.dlig</string>
		<string>L_o_v_e.dlig</string>
		<string>O_O.dlig</string>
		<string>O_u.dlig</string>
		<string>T_T.dlig</string>
		<string>V_T_F.dlig</string>
		<string>d_equal.dlig</string>
		<string>d_underscore.dlig</string>
		<string>l_equal.dlig</string>
		<string>l_underscore.dlig</string>
		<string>r_equal.dlig</string>
		<string>r_underscore.dlig</string>
		<string>u_equal.dlig</string>
		<string>u_underscore.dlig</string>
		<string>w_w_w.dlig</string>
		<string>R_B.liga</string>
		<string>R_P.liga</string>
		<string>R_R.liga</string>
		<string>R_S.liga</string>
		<string>T_h.liga</string>
		<string>c_t.liga</string>
		<string>f_f.liga</string>
		<string>f_i.liga</string>
		<string>f_l.liga</string>
		<string>s_p.liga</string>
		<string>s_t.liga</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>tildecomb</string>
		<string>uni1EAE</string>
		<string>uni1EB6</string>
		<string>uni1EB0</string>
		<string>uni1EB2</string>
		<string>uni1EB4</string>
		<string>uni1EA4</string>
		<string>uni1EAC</string>
		<string>uni1EA6</string>
		<string>uni1EA8</string>
		<string>uni1EAA</string>
		<string>uni1EA0</string>
		<string>uni1EA2</string>
		<string>uni1EBE</string>
		<string>uni1EC6</string>
		<string>uni1EC0</string>
		<string>uni1EC2</string>
		<string>uni1EC4</string>
		<string>uni1EB8</string>
		<string>uni1EBA</string>
		<string>uni1EBC</string>
		<string>uni1ECA</string>
		<string>uni1EC8</string>
		<string>Itilde</string>
		<string>Ldot</string>
		<string>uni1ED0</string>
		<string>uni1ED8</string>
		<string>uni1ED2</string>
		<string>uni1ED4</string>
		<string>uni1ED6</string>
		<string>uni1ECC</string>
		<string>uni1ECE</string>
		<string>Ohorn</string>
		<string>uni1EDA</string>
		<string>uni1EE2</string>
		<string>uni1EDC</string>
		<string>uni1EDE</string>
		<string>uni1EE0</string>
		<string>uni1E9E</string>
		<string>uni0162</string>
		<string>uni021A</string>
		<string>uni1EE4</string>
		<string>uni1EE6</string>
		<string>Uhorn</string>
		<string>uni1EE8</string>
		<string>uni1EF0</string>
		<string>uni1EEA</string>
		<string>uni1EEC</string>
		<string>uni1EEE</string>
		<string>Utilde</string>
		<string>uni1EF4</string>
		<string>uni1EF6</string>
		<string>uni1EF8</string>
		<string>Iacute_J.loclNLD</string>
		<string>G.ss01</string>
		<string>M.ss01</string>
		<string>Q.ss01</string>
		<string>T.ss01</string>
		<string>W.ss01</string>
		<string>uni1E9E.ss02</string>
		<string>A.ss03</string>
		<string>B.ss03</string>
		<string>C.ss03</string>
		<string>D.ss03</string>
		<string>E.ss03</string>
		<string>F.ss03</string>
		<string>G.ss03</string>
		<string>H.ss03</string>
		<string>I.ss03</string>
		<string>J.ss03</string>
		<string>K.ss03</string>
		<string>L.ss03</string>
		<string>M.ss03</string>
		<string>N.ss03</string>
		<string>O.ss03</string>
		<string>P.ss03</string>
		<string>Q.ss03</string>
		<string>R.ss03</string>
		<string>S.ss03</string>
		<string>T.ss03</string>
		<string>U.ss03</string>
		<string>V.ss03</string>
		<string>W.ss03</string>
		<string>X.ss03</string>
		<string>Y.ss03</string>
		<string>Z.ss03</string>
		<string>uni1EAF</string>
		<string>uni1EB7</string>
		<string>uni1EB1</string>
		<string>uni1EB3</string>
		<string>uni1EB5</string>
		<string>uni1EA5</string>
		<string>uni1EAD</string>
		<string>uni1EA7</string>
		<string>uni1EA9</string>
		<string>uni1EAB</string>
		<string>uni1EA1</string>
		<string>uni1EA3</string>
		<string>uni1EBF</string>
		<string>uni1EC7</string>
		<string>uni1EC1</string>
		<string>uni1EC3</string>
		<string>uni1EC5</string>
		<string>uni1EB9</string>
		<string>uni1EBB</string>
		<string>uni1EBD</string>
		<string>dotlessi</string>
		<string>i.loclTRK</string>
		<string>uni1ECB</string>
		<string>uni1EC9</string>
		<string>itilde</string>
		<string>uni0237</string>
		<string>uni006A0301</string>
		<string>ldot</string>
		<string>uni1ED1</string>
		<string>uni1ED9</string>
		<string>uni1ED3</string>
		<string>uni1ED5</string>
		<string>uni1ED7</string>
		<string>uni1ECD</string>
		<string>uni1ECF</string>
		<string>ohorn</string>
		<string>uni1EDB</string>
		<string>uni1EE3</string>
		<string>uni1EDD</string>
		<string>uni1EDF</string>
		<string>uni1EE1</string>
		<string>longs</string>
		<string>uni0163</string>
		<string>uni021B</string>
		<string>uni1EE5</string>
		<string>uni1EE7</string>
		<string>uhorn</string>
		<string>uni1EE9</string>
		<string>uni1EF1</string>
		<string>uni1EEB</string>
		<string>uni1EED</string>
		<string>uni1EEF</string>
		<string>utilde</string>
		<string>uni1EF5</string>
		<string>uni1EF7</string>
		<string>uni1EF9</string>
		<string>iacute_j.loclNLD</string>
		<string>a.ss02</string>
		<string>aacute.ss02</string>
		<string>abreve.ss02</string>
		<string>uni1EAF.ss02</string>
		<string>uni1EB7.ss02</string>
		<string>uni1EB1.ss02</string>
		<string>uni1EB3.ss02</string>
		<string>uni1EB5.ss02</string>
		<string>uni01CE.ss02</string>
		<string>acircumflex.ss02</string>
		<string>uni1EA5.ss02</string>
		<string>uni1EAD.ss02</string>
		<string>uni1EA7.ss02</string>
		<string>uni1EA9.ss02</string>
		<string>uni1EAB.ss02</string>
		<string>uni1EA1.ss02</string>
		<string>agrave.ss02</string>
		<string>uni1EA3.ss02</string>
		<string>amacron.ss02</string>
		<string>aring.ss02</string>
		<string>atilde.ss02</string>
		<string>f.ss02</string>
		<string>s.ss02</string>
		<string>germandbls.ss02</string>
		<string>L_o.dlig</string>
		<string>I_J.loclNLD</string>
		<string>i_j.loclNLD</string>
		<string>asuperior</string>
		<string>osuperior</string>
		<string>zero.osf</string>
		<string>one.osf</string>
		<string>two.osf</string>
		<string>three.osf</string>
		<string>four.osf</string>
		<string>five.osf</string>
		<string>seven.osf</string>
		<string>nine.osf</string>
		<string>zero.osf.ss02</string>
		<string>one.ss02</string>
		<string>two.ss02</string>
		<string>three.ss02</string>
		<string>four.ss02</string>
		<string>five.ss02</string>
		<string>seven.ss02</string>
		<string>nine.ss02</string>
		<string>uni00B9</string>
		<string>uni00B2</string>
		<string>uni00B3</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>Euro</string>
		<string>uni00B5</string>
		<string>arrowup</string>
		<string>arrowright</string>
		<string>arrowdown</string>
		<string>arrowleft</string>
		<string>arrowdblup</string>
		<string>arrowdblright</string>
		<string>arrowdbldown</string>
		<string>arrowdblleft</string>
		<string>u1F480</string>
		<string>u1F48C</string>
		<string>uni0308</string>
		<string>uni0307</string>
		<string>uni030B</string>
		<string>uni030C.alt</string>
		<string>uni0302</string>
		<string>uni030C</string>
		<string>uni0306</string>
		<string>uni030A</string>
		<string>uni0304</string>
		<string>hookabovecomb</string>
		<string>uni0312</string>
		<string>uni031B</string>
		<string>dotbelowcomb</string>
		<string>uni0326</string>
		<string>uni0327</string>
		<string>uni0328</string>
		<string>uni0335</string>
		<string>uni0336</string>
		<string>uni0337</string>
		<string>uni0338</string>
		<string>breve</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>uni030B.case</string>
		<string>uni0304.case</string>
		<string>uni0327.case</string>
		<string>uni03060301</string>
		<string>uni03060300</string>
		<string>uni03060309</string>
		<string>uni03060303</string>
		<string>uni03020301</string>
		<string>uni03020300</string>
		<string>uni03020309</string>
		<string>uni03020303</string>
	</array>
</dict>
</plist>
